.d3{
    margin: 11.5em auto;
}
.heading{
    text-align: center;
    margin: 0;
    padding: 0;
    color: #343a40;
    font-size:1.8em;
}

.result{
    background-color: whitesmoke;
    height: auto;
    padding: 2em;
}

.h{
    padding: 3em;
}
.space{
    margin-left: 40px;
    margin-right: 40px;
}




body {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #fafafa;
    color: gray; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #BB9B6B; }
    a:hover, a:focus {
      text-decoration: none !important;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  h1, h2, h3, h4, h5,
  .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
    color: #000; }
  
  .bg-primary {
    background: #BB9B6B !important; }
  
  /* .ftco-section {
    padding: 7em 0; } */
  
  .ftco-no-pt {
    padding-top: 0; }
  
  .ftco-no-pb {
    padding-bottom: 0; }
  
  .heading-section {
    font-size: 28px;
    color: #000; }
  
  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  
  .ftco-navbar-light {
    background: #202040 !important;
    z-index: 3;
    padding: 0; }

    @media (min-width: 991.98px) {
      .nav_container{
        height:65px;
      }
    }
    @media (max-width: 991.98px) {

      .ftco-navbar-light {
        background: #000 !important;
        position: relative;
        top: 0;
        padding: 10px 15px; } }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav {
        padding-bottom: 10px; } }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
      font-size: 11px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative;
      opacity: 1 !important; }
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background-color: #BB9B6B;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
        z-index: -1; }
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
        color: #fff; }
        .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover:before {
          visibility: visible;
          background-color: #BB9B6B;
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1); }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
          padding-left: 0;
          padding-right: 0;
          padding-top: .9rem;
          padding-bottom: .9rem;
          color: rgba(255, 255, 255, 0.7); }
          .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
            color: #fff; }
            .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover:before {
              display: none; } }
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
      border: none;
      background: #fff;
      -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      border-radius: 4px; }
      .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
        font-size: 12px;
        color: #000; }
        .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
          background: none;
          color: #fff; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
          display: block !important;
          background: #000; }
          .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
            color: rgba(255, 255, 255, 0.8); } }
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
      color: #fff;
      background: #BB9B6B;
      border-radius: 0px; }
      @media (max-width: 767.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
          padding-left: 15px;
          padding-right: 15px; } }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
          color: #fff;
          background: none;
          border-radius: 4px; } }
    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
      color: #fff; }
      .ftco-navbar-light .navbar-nav > .nav-item.active > a:before {
        visibility: visible;
        background-color: #BB9B6B;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1); }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.active > a {
          color: #BB9B6B; }
          .ftco-navbar-light .navbar-nav > .nav-item.active > a:before {
            display: none; } }
    .ftco-navbar-light .navbar-toggler {
      border: none;
      color: rgba(255, 255, 255, 0.5) !important;
      cursor: pointer;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .1em; }
      .ftco-navbar-light .navbar-toggler:focus {
        outline: none !important; }
  
  .navbar-brand {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 30px; }
    .navbar-brand span {
      display: block;
      font-size: 12px;
      font-weight: 500; }
    .navbar-brand:hover, .navbar-brand:focus {
      color: #000; }
  
  .social-media {
    display: inline-block; }
    .social-media p a {
      border: 1px solid #e6e6e6;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 4px; }
      .social-media p a span {
        color: #4d4d4d; }
      .social-media p a:hover {
        background: #BB9B6B;
        border-color: #BB9B6B; }
        .social-media p a:hover span {
          color: #fff; }
  
  .searchform {
    height: 46px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-radius: 5px; }
    .searchform .form-control {
      width: calc(100% - 46px);
      border: none;
      background: #fff !important;
      color: rgba(0, 0, 0, 0.7) !important;
      font-size: 20px; }
      .searchform .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.7) !important; }
      .searchform .form-control::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.7) !important; }
      .searchform .form-control:-ms-input-placeholder {
        /* IE 0+ */
        color: rgba(0, 0, 0, 0.7) !important; }
      .searchform .form-control:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.7) !important; }
    .searchform .search {
      width: 46px;
      height: 46px; }
      .searchform .search span {
        font-size: 20px; }
  
  .form-control {
    height: 46px !important;
    background: #fff !important;
    color: #000 !important;
    font-size: 14px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .form-control:focus, .form-control:active {
      border-color: #000; }


#loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  /* fade in */
  transition: 0.3s ease-in-out;
  

}
.fadeout{
  opacity: 0;
  transition: 0.3s ease-in-out;
  display:none !important;
}
.my-color{
  color:#BB9B6B;
}

.my-bg{
  background-color:#BB9B6B;
}
.verticalLine {
  border-left: thick solid #BB9B6B;
  transition:0.3s ease-in-out;  
}
.verticalLine:hover {
  border-left: 15px solid #BB9B6B;

}


.dt-buttons{
  position: relative !important;
  top: 30px !important;
  margin-right:5px;
}

.dt-buttons button{
  color:#6c757d !important;
}
.dt-buttons button:hover{
  color:rgb(236, 236, 236) !important;
}

#myTable_paginate{
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}
/* media query for screen less then 768 */
@media (max-width: 768px) {
  #myTable{
    position: relative;
    top: 70px;
  }
  #myTable_filter{
    position: absolute;
    top: 20px;
  }
  .dt-buttons {
    position: relative !important;
    top: 65px !important;
    margin-right: 5px;
}
#myTable_paginate{
  margin-top:15px;
}
#myTable_info{
  margin-top:70px;
}
}